.bg-take
    background-image url(../img/bg.png)
    background-size 100% !important
    min-height 600px !important

.bg-initialize
    background url("../img/blurbg.png") no-repeat 50% 50%

.phrase-tour 
    padding 1rem 2rem 1.5rem !important
    margin 0 2rem !important
    text-align center !important
    color gray !important
      
.phrase-tour h1 
    font-size 5rem !important
    letter-spacing -1px !important
    font-family 'Lato' !important

.uv-text
	font-size 2.5rem
	line-height 3rem
	font-weight 300  
	color white

.bg-initialize .column .grid 
    margin-top 15rem !important
      
.paragraph-tour 
    padding 2rem !important
    margin-top 4rem !important

.align-center
    text-align center !important
    
.h
    min-height 100% !important

.mt
    margin-top 15% !important
    
.pad-0
    padding 0px !important
    
.float-right
	float right 
	
.float-left
	float left
	
.mar-0
	margin 0 !important
	
.pad-tb
	padding-bottom 0px !important 
	padding-top 0px !important	

.vt-an 
	vertical-align 2px

.cpad
	border 1px solid rgb(213, 213, 213)
	border-radius 3px
	padding 8px 16px
	color gray
	
.footer_logo_wrapper 
	text-align center
	
#footer_logo 
	display inline-block
	background-image url(../img/introduction.svg)
	background-repeat no-repeat
	background-size 100%
	width 392px
	height 149px
	
.slogan
	width 70%
	margin auto
	margin-bottom 20px;
	
.capsule-action
	background rgba(0, 0, 0, 0.5)
	border-radius 5px
	width 90%
	margin auto
	
.txt-team
	color white
	line-height 2.5rem
	font-size 1.2rem
	
.mauto
	width 50%
	margin auto
	
.fs-x16
	font-size 1.6rem !important
	
.fsx3
	font-size 3rem !important
	
.notsee
	display none
	opacity 0



// .twitter-share-button
// 	min-width 200px !important
// 	width auto !important
	
// Index

// Sidebar left - options
.capsule-app
	left 0px
	right 0px
	bottom 0px

.capsule-wrapper 
	overflow hidden
	left 0px
	right 0px
	bottom 0px

.capsule-option-panel 
	border-right 1px solid #1A212A
	background-color #303E4D
	height 100%
	float left
	transition width 0.2s ease-in-out, left 0.2s ease-in-out
	z-index 200
	box-sizing border-box
	position relative

.cop-mod 
	position absolute
	top 0px
	left 0px
	width 180px
	transition width 0.2s ease-in-out, left 0.2s ease-in-out 0.3s


.capsule-core-options
	height 100%
	transition all 0.2s ease-in-out

.ccoa 
	height 60px
	text-align center

.ccoa-son-find 
	display inline-block
	width 145px
	height 50px
	margin 0 auto
	margin-bottom 30px
	position relative
	outline none

.ccoa-collapse-brand 
	display inline-block
	width 50px
	display none
	height 50px
	margin 0 auto
	margin-bottom 30px
	position relative
	outline none

.ccod.ccoe 
	position absolute

.ccod
	display block
	bottom 0px
	z-index 1000
	width 180px
	background: #242E3C;
	border-top: 1px solid #1E2732;
	cursor pointer

.ccod-son-find-a .ccod-son-find-b
	height 48px

.ccod-sfa-a
	display inline-block
	width 45px
	height 40px
	position relative
	outline none

.ccod-sfa-son-a
	outline none
	cursor pointer
	padding 6px 0px
	height 36px

.ccod-sfa-expanded
	display none
	visibility hidden

.capsule-renders 
	position relative
	margin-left 213px

.cr-mod 
	margin-left 180px

.mcc
	margin-top 55px

.ccob 
	margin-bottom 48px

.ccob .ccob-son 
	height 40px

.ccob .ccob-son-b 
	height 40px

.ccob-son .ccob-s-find 
	display inline-block
	width 42px
	height 42px
	position relative
	outline none

.ccob-s-f-wrapper 
	position relative
	
.ccob-s-f-w-grid 
	outline none
	cursor pointer
	padding 6px 0
	height 36px

.ccob-newRepo 
	width 170px
	height 30px
	background rgba(255, 255, 255, 0.3)
	border-radius 0px 30px 30px 0px
	
	&:hover
		background rgb(57,184,57)
		color #FFFFFF
		border none

.text-ccob
	padding-left 5px
	color #FFFFFF
	font-size 14px
	font-family sans-serif
	line-height 2

.gn-text
	border-bottom: 1px dotted #FFFFFF
	font-size: 15px;
	padding-left: 10px;
	color: #FFFFFF
	
// Workspace

/* Capsule Renders */
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

transition()
  -webkit-transition arguments
  -moz-transition arguments
  -o-transition arguments
  transition arguments
	
.capsule-views-renders 
	transition opacity 0.3s ease-in-out

.cvr-wrapper 
	text-align center
	width 100%
	left 0px
	position relative

.cvr-wrapper .cvr-son-find
	width 100%

.cvr-son-find
	box-sizing: border-box
	margin: 0 auto
	text-align: left
	position: relative

.cvr-sfa
	width 50%
	float left
	z-index 1001

.cvr-sfa-son 
	position relative

.cvr-sfa-son>i 
	position absolute
	line-height 34px

.cvr-sfb 
	width 50%
	float right
	z-index 1001
	
.name-workspace
	font-size 1.4rem
	display inline-block
	cursor pointer
	color #555459
	font-weight 600

.prefix 
	color #9e9ea6
	padding-right .1rem
	font-weight 500
	-webkit-transitionDISABLED color .15s ease-out
	-moz-transitionDISABLED color .15s ease-out
	-o-transitionDISABLED color .15s ease-out
	transitionDISABLED color .15s ease-out
	cursor pointer

.list-area-wrapper 
	position absolute
	top 0
	right 0
	bottom 0
	left 0
	margin-bottom -10px
	overflow-x auto
	overflow-y hidden
	-ms-flex-align start
	-moz-box-align start
	-webkit-box-align start
	-webkit-align-items flex-start
	-moz-box-orient horizontal
	-webkit-box-orient horizontal
	-ms-flex-direction row
	-webkit-flex-direction row
	align-items flex-start
	display -moz-box
	display -ms-flexbox
	display -webkit-box
	display -webkit-flex
	display flex
	flex-direction row
	flex-wrap nowrap

.board-canvas 
	margin-right 0
	height 600px

.board-canvas 
	margin-right 20px
	position relative
	-webkit-transition-property margin
	transition-property margin
	-webkit-transition-duration .1s
	transition-duration .1s
	-webkit-transition-timing-function ease-in
	transition-timing-function ease-in

.list:last-child 
	margin-right 10px

.list:first-child 
	margin-left 10px

.list 
	background white
	//border-right 1px solid rgb(228, 228, 228)
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box
	display -moz-box
	display -ms-flexbox
	display -webkit-box
	display -webkit-flex
	display flex
	-moz-box-orient vertical
	-webkit-box-orient vertical
	-ms-flex-direction column
	-webkit-flex-direction column
	flex-direction column
	-moz-box-flex 0
	-webkit-box-flex 0
	-ms-flex 0 0 300px
	-webkit-flex 0 0 300px
	flex 0 0 300px
	margin 0 5px
	max-height 100%
	padding 4px 3px 3px
	position relative
	-webkit-transform translate3d(0,0,0)
	width 300px

.list-header
	background lightgray
	border-bottom 1px solid silver
	padding 10px
	margin-bottom 10px
	border-radius 0px 25px 25px 0px
	font-size 1.2rem
	color black

.list-header-name
	color #555459

.list-task 
	flex 1 1 auto
	-moz-box-flex 1 1 auto
	-webkit-box-flex 1 1 auto
	-ms-flex 1 1 auto
	-webkit-flex 1 1 auto
	margin-bottom 0
	overflow-y auto
	overflow-x hidden
	padding 4px 4px 1px
	z-index 1

.list-task
	cursor pointer
	margin-bottom 5px
	max-width 300px
	min-height 20px
	position relative
	z-index 0

	&:hover 
		background rgb(248, 248, 248)

/* Create task */
.create-task 
	flex 1 1 auto
	-moz-box-flex 1 1 auto
	-webkit-box-flex 1 1 auto
	-ms-flex 1 1 auto
	-webkit-flex 1 1 auto
	margin-bottom 0
	overflow hidden
	padding 4px 4px 1px
	z-index 1

.create-task
	margin-bottom 5px
	max-width 300px
	min-height 20px
	position relative
	z-index 0
	
.bb-o 
	border-bottom 2px solid #ccc
	border-radius 0px 0px 8px 8px

.horizontal-scroll-function
    display -moz-box
    display -ms-flexbox
    display -webkit-box
    display -webkit-flex
    display flex
    height 100% !important

/* Collapse & Expand */
.collapse-small-nav
	width 80px !important

.ccob-size-collapse 
	width 40px !important
	height 40px !important
	text-indent -9999 !important
	background-position 8px !important

.capsule-size-collapse
	width 50px !important
	
.visualize-none-collapse
	display none !important
	visibility hidden !important

.visualize-block-collapse
	display inline-block !important
	visibility visible !important

.ccod-size-collapse
	width 50px !important

.cvr-size-collapse
	margin-left 80px !important

.cr-mod-size-collapse
	margin-left 80px !important

.cvr-collapse
	height 55px
	top 0px
	display block
	z-index 10
	background rgba(255, 255, 255, 0.8)

/* Sobreescribir semantic- ui */
.ui.dropdown .menu > .item 
	font-size 16px
	color #645563
	font-weight 400

.ui.cards > .card, .ui.card
	border 1px solid #DDDDDD
	box-shadow none

.circle
	margin-right 0.25em
	border 1px solid silver
	display inline-block
	width 2.5em
	height 2.5em
	border-radius 500rem
	color gray
	padding 10px 8px

	&:hover
		border 1px solid rgb(57,184,57)
		color rgb(57,184,57)

.add-list
	margin 16px -8px
	color gray
	opacity 0
	cursor pointer
	
.add-list:hover
	opacity 1
	
.add-list-hover
	opacity 1
	
/* Check Bubble */

.cbutton 
	position relative !important
	color #286aab !important
	-webkit-transition color .7s !important
	transition color .7s !important

.cbutton.cbutton--click,
.cbutton:focus 
	outline none
	color #3c8ddc

.cbutton__icon 
	display block

.cbutton::after 
	position absolute
	top 50%
	left 50%
	margin -35px 0 0 -35px
	width 70px
	height 70px
	border-radius 50%
	content ''
	opacity 0
	pointer-events none

/* Bubble */
.cbutton--effect-bubble::after 
	background rgba(97, 206, 64, 0.76)

.cbutton--effect-bubble.cbutton--click::after 
	-webkit-animation anim-effect-bubble 0.5s forwards
	animation anim-effect-bubble 0.5s forwards

@-webkit-keyframes anim-effect-bubble 
	0% 
		opacity 0
		-webkit-transform scale3d(0.1, 0.1, 1)
		transform scale3d(0.1, 0.1, 1)
	
	50% 
		opacity 1
		-webkit-transform scale3d(0.5, 0.5, 1)
		transform scale3d(0.5, 0.5, 1);
	
	100% 
		opacity 0
		-webkit-transform scale3d(0.3, 0.3, 1)
		transform scale3d(0.3, 0.3, 1)
	
@keyframes anim-effect-bubble 
	0% 
		opacity 0
		-webkit-transform scale3d(0.1, 0.1, 1)
		transform scale3d(0.1, 0.1, 1)
	
	50% 
		opacity 1
		-webkit-transform scale3d(0.5, 0.5, 0.5)
		transform scale3d(0.5, 0.5, 0.5)
	
	100% 
		opacity 0
		-webkit-transform scale3d(0.3, 0.3, 1)
		transform scale3d(0.3, 0.3, 1)